# Distribution by XXX - Analytics

### Import Library

In [1]:
import numpy as np
import pandas as pd
import numpy as np
import pandas_ta as ta
import seaborn as sns

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [12, 6]
plt.rcParams['figure.dpi'] = 120
import warnings
warnings.filterwarnings('ignore')

### Load Price Data

In [5]:
import os
from pathlib import Path
notebook_path = os.getcwd()
current_dir = Path(notebook_path)
csv_file = str(current_dir) + '/VN30F1M_5minutes.csv'
is_file = os.path.isfile(csv_file)
if is_file:
    dataset = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
else:
    print('remote')
    dataset = pd.read_csv("https://raw.githubusercontent.com/zuongthaotn/vn-stock-data/main/VN30ps/VN30F1M_5minutes.csv", index_col='Date', parse_dates=True)

In [6]:
data = dataset.copy()

In [7]:
data

                       Open    High     Low   Close  Volume
Date
2018-08-13 09:00:00   943.5   943.6   942.9   943.1    1812
2018-08-13 09:05:00   943.1   943.5   942.9   943.3    1323
2018-08-13 09:10:00   943.2   943.3   942.6   943.1    1207
2018-08-13 09:15:00   943.1   943.1   942.3   942.6    1196
2018-08-13 09:20:00   942.6   943.7   942.4   943.7    1765
...                     ...     ...     ...     ...     ...
2025-02-14 14:15:00  1343.0  1343.0  1340.3  1341.3    7141
2025-02-14 14:20:00  1340.9  1341.9  1340.5  1341.4    4593
2025-02-14 14:25:00  1341.1  1342.5  1340.7  1342.5    4207
2025-02-14 14:30:00  1342.5  1342.5  1342.5  1342.5     150
2025-02-14 14:45:00  1341.8  1341.8  1341.8  1341.8    5684

[82630 rows x 5 columns]